<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-900 font-poppins">

<div class="flex h-screen items-center justify-evenly px-8">
    <div class="flex flex-col items-center mr-50 mb-10">
        <img class="mt-[50px] rounded-3xl object-contain w-[600px]" src="https://res.cloudinary.com/dhn1ivdgn/image/upload/fl_preserve_transparency/v1749709820/image_25_fkoymg.jpg?_s=public-apps">
    </div>

    <div>
        <div class="text-white mb-[100px]">
            <h1 class="font-bold text-[44px]">Join us today 👋</h1>
            <p class="text-[18px] mt-2 text-slate-400">
                Clarity gives you the blocks and components<br>
                you need to create a truly professional website.
            </p>
        </div>

        <div class="bg-white rounded-[20px] h-auto w-[400px] px-6 py-6 shadow-lg">
        <h2 class="text-[38px] font-bold mb-6 text-center">Login</h2>

        <div th:if="${error}" class="bg-red-100 text-red-600 text-center rounded p-2 mb-4" th:text="${error}"></div>

        <form th:action="@{/login}" th:object="${studentdto}" method="post" class="w-full">
            <input class="bg-[#D9D9D9] text-[18px] rounded-[18px] w-full px-4 py-2 mb-2" placeholder="Username" type="text" th:field="*{username}" />

            <input class="bg-[#D9D9D9] text-[18px] rounded-[18px] w-full px-4 py-2 mb-2" placeholder="Password" type="password" th:field="*{password}" />

            <div class="flex justify-center mt-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white text-[20px] px-6 py-2 rounded-[12px]">
                    Login
                </button>
            </div>

            <p class="text-center text-sm mt-4 text-black">
                Don’t have an account?
                <a class="text-blue-600 underline" th:href="@{/register}">Register here</a>
            </p>
        </form>
    </div>

    </div>
</div>

</body>
</html>
