<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<header th:fragment="header" class="w-full px-4 justify-between flex items-center bg-white">
  <img src="https://res.cloudinary.com/dhn1ivdgn/image/upload/v1749716883/image_1-removebg-preview_xddpbe.png"
       class="w-[100px] h-auto ml-[100px] object-contain" alt="logo">
  <nav class="flex justify-around gap-6 p-2">
    <a class="text-xl font-300" href="/student">
      List Course
    </a>
    <a class="text-xl font-300" href="/student/enrollments">
      Enrollments
    </a>
    <a class="text-xl font-300" href="/student/profile">
      Profile
    </a>
  </nav>
  <div class="py-[30px] pr-[30px] items-center flex gap-2">
    <p class="text-xl">✉️</p>
    <p class="text-xl">🔔</p>
    <img alt="" class="w-[40px] object-contain rounded-full h-auto" src="https://res-console.cloudinary.com/dyvpntnlo/thumbnails/v1/image/upload/v1749561961/bW92aWUtcG9zdGVycy94cGhiY2IzY3l4MmJvcHB1MXpyYQ==/preview">
    <a href="/logout" class="cursor-pointer text-xl">
      🚪 Logout
    </a>
  </div>
</header>
</body>
</html>