<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar" class="w-64 bg-gray-100 p-6 fixed h-full">
    <ul class="space-y-6">
        <li><a href="/admin/dashboard" class="text-black hover:text-blue-500">Dashboard</a></li>
        <li><a href="/admin/courses" class="text-blue-500 font-bold">Courses</a></li>
        <li><a href="/admin/students" class="text-black hover:text-blue-500">Students</a></li>
        <li><a href="/admin/enrollments" class="text-black hover:text-blue-500">Enrollment</a></li>
    </ul>
</div>
</body>
</html>